{% extends 'base.html' %}

<title>{% block title %}Central Bookings{% endblock %}</title>

{% block content %}
    <h2> 
        {{object.name}}
    </h2>

    Organizer: {{object.organizer}} <br>
    {% for reservation in object.get_reservations %}
        Location: {{reservation.location}} <br>
        Start Time: {{reservation.start_time}} <br>
        End Time: {{reservation.end_time}}
    {% endfor %}

    <br><br><hr><br>
    <button type="submit">
        <p><a href="{% url 'central_bookings:activities-list' %}">{{"Back to full activity list"}}</a></p>
    </button>

{% endblock %}