{% extends 'base.html' %}

<title>{% block title %}Central Bookings{% endblock %}</title>

{% block content %}
<main>
    <h1>User Profile: {{ profile.user.first_name }}</h1>

    <ul>
        <!-- <li>Username: {{ profile.user.first_name }}</li> -->
        <li>Participant type: {{ profile.participant_type }}</li>
        <li>Department: {{ profile.department }}</li>
        <li>Birthdate: {{ profile.birthdate }}</li>
    </ul>

    <h2>Activities Enlisted in</h2>

    {% if enlisted_activities %}
    <table>
        <thead>
            <tr>
                <th>Activity Name</th>
                <th>User</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Location</th>
                <th>Organizer</th>
                <th>Attended?</th>
            </tr>
        </thead>
        <tbody>
        {% for item in enlisted_activities %}
            <tr>
                <td>{{ item.activity_name }}</td>
                <td>{{ item.user_name }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.start_time }}</td>
                <td>{{ item.end_time }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.organizer }}</td>
                <td>{{ item.attended|yesno:"Yes,No" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No enlisted activities found.</p>
    {% endif %}
</main>
{% endblock %}