{% extends 'base.html' %}

{% block title %}Central Bookings{% endblock %}

{% block content %}
    <h2> 
        {{object.name}} - {{object.id}}
    </h2>

    Organizer: {{object.organizer}} <br>
    {% for reservation in object.get_reservations %}
        Location: {{reservation.location}} <br>
        Start Time: {{reservation.start_time}} <br>
        End Time: {{reservation.end_time}}
        <form method = "POST" action="{% url 'central_bookings:enlist' object.id %}">
            {% csrf_token %}
            <button type="submit">Enlist in Activity</button>
        </form>
    {% endfor %}
    
    <br><br><hr><br>
    <a href="{% url 'central_bookings:activity-edit' activity.pk %}">Edit</a>
    <a href="{% url 'central_bookings:activity-delete' activity.pk %}">Delete</a>
    <button type="submit">
        <p><a href="{% url 'central_bookings:activity-list' %}">{{"Back to full activity list"}}</a></p>
    </button>

{% endblock %}